{% if toast_message %}
    <span id="toast" class="toast" hidden="hidden" onload="showToast()">{{ toast_message }}</span>
    <script>
        function showToast() {
            var toast = document.getElementById('toast');
            toast.removeAttribute("hidden");
            setInterval(function () {
                toast.setAttribute('hidden', 'hidden');
            }, 3000);
        }

        showToast()
    </script>
{% endif %}